<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>excess</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/js/image-picker.js"></script>
  <script src="/js/client.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxM36DxD-TmmCuWMML0UXBVSirOUkF42Q" charset="utf-8"></script>

  <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/skeleton.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/image-picker.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

</head>



<body>
  <div class="mediaIconsDiv">
    <img class="socialIcon" src="/social_media_icons/facebook.png" alt="" />
    <img class="socialIcon" src="/social_media_icons/linkedin.png" alt="" />
    <img class="socialIcon" src="/social_media_icons/twitter2.png" alt="" />
    <img class="socialIcon" src="/social_media_icons/youtube.png" alt="" />
    <img class="socialIcon" src="/social_media_icons/reddit.png" alt="" />
  </div>

<div id="loadingImage"></div>
  <div id="map"></div>


  <div class="logoutContainer">
  <%- include ./partials/_logout %>
  </div>

  <div class="formContainer">

    <div class="formLogo"><h1>excess.</h1></div>

    <%- include ./partials/_package %>
    <%- include ./partials/_navbar-side %>
    <%- include ./partials/_edit-user %>
    <%- include ./partials/_user-packages %>
    <%- include ./partials/_edit-package %>

    <button class="navbarButton backButton">Back</button>

  </div>

  <div class="loginContainer">

    <%- include ./partials/_register %>
    <%- include ./partials/_login %>
    <%- include ./partials/_location %>
    <!-- <div class="hidden alert alert-danger" role="alert"></div> -->
    </div>



    <div id="splash-logo">
    <h1>Excess</h2>
    <p>Excess allows people to donate and to receive excess resources that would have otherwise gone to waste.  If you’re going on holiday or just over shopped, you can advertise what you have to offer and find someone who wants to take your excess resources off your hands. Or login, view what is on offer, and simply contact the donator and collect. Together we can eliminate waste. </p>
    </div>



    <div class="hidden alert alert-danger" role="alert"></div>


</body>
</html>
