<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>excess</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/js/client.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxM36DxD-TmmCuWMML0UXBVSirOUkF42Q" charset="utf-8"></script>

  <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/skeleton.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <div id="map"></div>

  <div class ="formContainer">

      
    <%- include ./partials/_package %>
    <%- include ./partials/_navbar-side %>
    <%- include ./partials/_edit-user %>


    <button class="navbarButton backward">Backward</button>


  </div>

  <div class="loginContainer">

    <%- include ./partials/_register %>
    <%- include ./partials/_login %>
    <%- include ./partials/_location %>

  </div>

 

</body>
</html>
